/*!
--------------------------------------------------------------------------------------------------------------------------------
                                              Style sheet following Mohaimen's portfolio
--------------------------------------------------------------------------------------------------------------------------------
*/




html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
      font-size: 18px;
}

nav{
  text-align: left;
  margin: -10px -8px 0px;
  display: block;
  background-color: rgba(0, 0, 0, .6);
  line-height: 3;
}


nav > a{
  margin: 0px 10px 0px;
  color: white;
}


nav > a:hover, 
nav > a:focus{
  color: grey;
  /*cursor: pointer;*/
}

nav > a.help:hover,
nav > a.help:focus{
  cursor: help;
}

nav > a.home:hover,
nav > a.home:focus{
  cursor: pointer;
}
nav > a.bgd:hover,
nav > a.bgd:focus{
  cursor: pointer;
}
nav > a.contact:hover,
nav > a.contact:focus{
  cursor: pointer;
}




body{

  background-image: url("mainBackground.jpg");
	background-size: 1500px 800px; 
}

h1.MainTitle{
	position: relative;
	color: #b6bfc8;
	text-shadow: 2px 2px #000000;
  padding-bottom: 9px;
  margin: 15px 0 20px;
  border-bottom: 3px solid #eee;
	font-size: 2em;
 }
 

 /*Add this later it works*/
img {
  margin: 0 0 0;
  page-break-inside: avoid;
  border:solid grey;
  width: 200px;
  height: 160px;
  max-width: 100% !important;
  vertical-align: middle;
}

a.uni:hover,
.uni:focus{
  cursor:pointer;
  color: white;
}

a.prog:hover,
.prog:focus{
  cursor:pointer;
  color: white;
}

a.min:hover,
.min:focus{
  cursor:pointer;
  color: white;
}
.background {
  display: block;
  padding: 9.5px;
  margin: -10em 61em 10px;
  font-size: 15px;
  line-height: 2;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: rgba(200, 200, 200, .7);
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 25%;
}

.background > a {
  font-weight: bold;
  font-size: 100%;
}


button{
  overflow: visible;
  text-transform: none;
  -webkit-appearance: button;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  padding: 20px;
}

.projects{
  font-weight: bold;
  display: block;
  padding: 9.5px;
  margin: 20em 70em 10px;
  text-align: center;
  font-size: 15px;
  line-height: 5;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: rgba(200, 200, 200, .7);
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 15%;
}


.projects:hover,
.projects:focus{
    cursor: pointer; 
    color: white;
    background-color: rgba(200, 200, 200, .3);
}



.history{
  font-weight: bold;
  display: block;
  padding: 9.5px;
  margin: -16em 70em 10px;
  text-align: center;
  font-size: 15px;
  line-height: 5;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: rgba(200, 200, 200, .7);
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 15%;
}

.history:hover,
.history:focus{
    cursor: pointer; 
    color: white;
    background-color: rgba(200, 200, 200, .3);
}

.middleBlock{
  text-align: center;
  display: block;
  padding: 9.5px;
  margin: 0em 20em 10px;
  font-size: 19px;
  line-height: 2;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: rgba(200, 200, 200, .7);
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 35%;

}


input[type="text"]{
  text-align: center;
  border: dotted white;
  width: 60%;
  background-color: rgba(0, 0, 0, 0.5);
  line-height: 3;
  margin: 6em 6.5em 0em;
  font-size: 40px;
  color: white;
}

input[type="submit"]
{
  overflow: visible;
  text-transform: none;
  -webkit-appearance: button;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  padding: 20px;
}

.schoolProjects{
  text-align: center;
  display: block;
  padding: 9.5px;
  margin: 5em 0em 10px;
  font-size: 30px;
  line-height: 5;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: rgba(0, 0, 0, .3);
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 35%;

}

.schoolProjects:hover,
.schoolProjects:focus{
  cursor: pointer;
  color: white;
  background-color: rgba(0, 0, 0, .7);
}

.personalProjects{
  text-align: center;
  display: block;
  padding: 9.5px;
  margin: -6em 25em 10px;
  font-size: 30px;
  line-height: 5;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: rgba(0, 0, 0, .3);
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 35%;
}

.personalProjects:hover,
.personalProjects:focus{
  cursor: pointer;
  background-color: rgba(0, 0, 0, .7);
  color: white;
}

.workProjects{
  text-align: center;
  display: block;
  padding: 9.5px;
  margin: 4em 0em 10px;
  font-size: 30px;
  line-height: 5;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: rgba(0, 0, 0, .3);
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 35%;

}

.workProjects:hover,
.workProjects:focus{
  background-color: rgba(0, 0, 0, .7);
  cursor: pointer;
  color: white;
}

.hackathons{
  text-align: center;
  display: block;
  padding: 9.5px;
  margin: -6em 25em 10px;
  font-size: 30px;
  line-height: 5;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: rgba(0, 0, 0, .3);
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 35%;
}

.hackathons:hover,
.hackathons:focus{
  cursor: pointer;
  color: white;
  background-color: rgba(0, 0, 0, .7);
}
